body {
  background-color: #ffffff;
}

input[type=text],[type=email],[type=tel]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 8px;
}

.error{
  color: #ef5771;
  display: block;/* para que quede abajo el span */
}

.invalid{
  border: solid 1px #ef5771;
  box-shadow: 0 0 10px #ef5771;
}

.boton-enviar{
  background-color: #3E78FF;
}

#titulo-contacto{
  text-align: center;
  margin: 50px;
}

.logo-red-social{
  width: 50px;
  height: 50px;
  margin: 5px;
}

.fondo-formulario{
  background-color: rgba(255, 193, 50, 0.9);
  padding: 50px;
  border-radius: 10px;
}

#quieres-saber-mas{
  align-content: center;
}